<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Finder</title>
</head>
<body>
<h1>Home Finder</h1>

<form action="{{ url_for('postcodes') }}" method="post">
  <label for="office_postcode"> Office Postcode:</label>
  <input type="text" id="office_postcode" name="office_postcode"><br><br>
  <label for="commute_time"> Desired Commute Time in Mins:</label>
  <input type="text" id="commute_time" name="commute_time"><br><br>
  <input type="submit" value="Submit">
</form>
</body>
</html>